footer{
    background: $primary-color;
    @include flex(column,flex-start, flex-start);
    .part1{
        // width: 550px;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-bottom: 1rem;

        h2{
            line-height: 2.5rem;
            text-align: left;
        }

        p{
            line-height: 2rem;
            font-weight: 50;
            color: rgb(122, 112, 112);
            text-align: left;
            
        }    
    }
}