@include med{


    .two-box{
        display: flex;
        flex-flow: row-reverse;
        border: 2px solid red;
    }



    .grey-box{
        
        
        .card-wrapper{
            
            
                .cards{
                  
            
                }

        }

    
    }
    
}